.form-group {
  max-width: 100%;
  margin: 20px auto;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  .btn {
    margin-left: 150px;
    width: auto;
  }
  label {
    width: 140px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    text-align: left;
  }
}
input.form-control {
  width: 200px;
  color: #555;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.42857143;
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #222222;
  }
}
