.navbar-default {
  background-color: #fff;
  .navbar-brand {
    color: #000;
  }
}
.navbar .nav-logo {
  width: 180px;
  height: 51px;
  display: flex;
  color: black;
  align-items: center;
  justify-content: left;
}
