<style type="text/css">
    body {font-family: Arial, Helvetica, sans-serif;background-color:lightgrey;}

    .container {
      max-width: 640px;
      margin: 0 auto;
      background-color:white;
    }
    .top-header {
        color:white;
        background-color:#009E47;
        text-align:center;
    }
    .form-container {
      padding: 5px 10px;
      text-align:center;
    }
    .info-container {
      padding: 5px 10px;
      text-align:left;
    }
    .centered {
      text-align: center;
    }
    fieldset {
        border: 0;
    }
    .submit {
        font-size: larger;
        padding: 5px 10px;
        color: white;
        background-color: green;
    }
    .inline {
        display: inline;
    }
</style>